<div class="ml-16 mt-10 ">
  <div class="h-64 w-120 float-left border-antd border-solid border-2 p-6 rounded-lg">
    <div class="mt-3 mb-4">
      <span class="text-2xl">当前奖学金评审 : </span>
      <span class="text-3xl font-bold" nz-typography nzType='success'>{{'进行中'}}</span>
    </div>
    <!-- <div>
      <span class="text-xl">开始时间:</span>&nbsp;&nbsp;
      <span class="text-2xl font-bold">{{currentTimeFrom}}</span>
    </div>
    <br>
    <div>
      <span class="text-xl">结束时间:</span>&nbsp;&nbsp;
      <span class="text-2xl font-bold">{{currentTimeTo}}</span>
    </div>

    <button class="mt-6" nz-button [nzType]="'primary'" (click)="showModalSetTime()"><span>修改双选时间</span></button> -->
  </div>

  <!-- 设置时间的对话框 -->
  <!-- <nz-modal [(nzVisible)]="isVisibleSetTime" nzTitle="重置时间" (nzOnCancel)="handleCancelSetTime()"
    (nzOnOk)="handleOkSetTime()" [nzOkLoading]="isOkLoadingSetTime">
    <ng-container *nzModalContent>
      <nz-range-picker [nzShowTime]="true" [(ngModel)]="date" (ngModelChange)="onSetTimeChange($event)">
      </nz-range-picker>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelSetTime()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkSetTime()" [nzLoading]="isOkLoadingSetTime">确认修改</button>
    </div>
  </nz-modal> -->

  <div class="h-64 w-120 float-left ml-36 border-antd border-solid border-2 p-4 rounded-lg text-center">
    <h3 nz-typography>辅导员端功能导航</h3>
    <button nz-button class="w-32 mb-5 mt-6" [nzSize]='"large"' nzType="default" routerLink="../student"
      routerLinkActive="active">学生</button>
    <br>
    <button nz-button class="w-32 mb-5 mt-6 " [nzSize]='"large"' nzType="default" routerLink="../teacher"
      routerLinkActive="active">评审</button>
    <br>
    <button nz-button class="w-32 mb-5 " [nzSize]='"large"' nzType="default" routerLink="../export"
      routerLinkActive="active">导出结果</button>
  </div>
</div>
