<div class="ml-8">
  <!-- 展示学生列表表格 -->
  <h3 nz-typography class="">学生列表</h3>
  <nz-table #currentRequestInTable [nzPageSize]="10" nzShowQuickJumper [nzData]='currentDisplayStudentList!'>
    <thead>
      <tr>
        <th>姓名<nz-filter-trigger [(nzVisible)]="visibleSearchName" [nzDropdownMenu]="searchNameMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>学号
          <nz-filter-trigger [(nzVisible)]="visibleSearchSid" [nzActive]="searchSidValue.length > 0"
            [nzDropdownMenu]="searchSidMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th>状态</th>
        <th>自评分数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of currentRequestInTable.data">
        <td>{{ data.name }} </td>
        <td>{{ data.sid }}</td>
        <td>{{ status[data.status]}}</td>
        <td>{{ data.score }}</td>
        <td>
          <a nz-button nzType="link" (click)="showModalShowInfo(data)">查看更多学生信息并进行材料审核</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-button nzType="link" (click)="showModalShowComment(data)">查看历史留言</a>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- sid的搜索的下拉框 -->
  <nz-dropdown-menu #searchSidMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按账户搜索" [(ngModel)]="searchSidValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchSid()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetSid()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <!-- name的搜索的下拉框 -->
  <nz-dropdown-menu #searchNameMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按账户搜索" [(ngModel)]="searchNameValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchName()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetName()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- 查看完整信息的对话框 -->
  <nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleShowInfo" nzTitle="查看学生信息"
    (nzOnOk)="handleOkShowInfo()" (nzOnCancel)="handleOkShowInfo()" [nzOkLoading]="isOkLoadingShowInfo">
    <ng-container *nzModalContent>
      <nz-descriptions nzTitle="" nzBordered>
        <nz-descriptions-item nzTitle="学号">
          {{currentSelectedStudent.sid}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="姓名">
          {{currentSelectedStudent.name}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="班级">
          {{currentSelectedStudent.class}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="自评分数" nzSpan="3">
          {{currentSelectedStudent.score}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="自我介绍" nzSpan="3">
          {{currentSelectedStudent.description}}
        </nz-descriptions-item>
      </nz-descriptions>

      <h4 nz-typography class="mt-4">学生上传辅助资料</h4>
      <nz-table #currentFileInTable [nzPageSize]="10" [nzData]='fileList!'>
        <thead>
          <tr>
            <th>文件名</th>
            <th>上传时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of currentFileInTable.data">
            <td>{{ data.filename }} </td>
            <td>{{ formatDateTime(data.date) }}</td>
            <td>
              <a nz-button nzType="link" (click)="downloadUpload(data)">下载此材料</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <button class="mt-2 h-10 w-60" nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="确定设置此学生获得奖学金吗?"
        nzPopconfirmPlacement="bottom" (nzOnConfirm)="pass(currentSelectedStudent)" (nzOnCancel)="Cancel()"
        nzOkText="确认" nzCancelText="取消">设置此学生获得奖学金</button>
      <br>
      <button class="mt-2 h-10 w-60" nz-button [nzType]="'primary'" (click)="isReject=true" nz-tooltip
        nzTooltipTitle="请在留言中向学生声明是由于材料问题需要重新提交材料还是由于分数排名靠后没有获得奖学金！"><span>拒绝此学生奖学金申请</span></button>
      <div *ngIf="isReject" class="text-center">
        <textarea rows="4" nz-input [(ngModel)]="commentValue" class="mt-2 mb-2"></textarea>
        <button class="mt-2 h-10 w-44 ml-" nz-button [nzType]="'primary'"
          (click)="reject(currentSelectedStudent,commentValue)"><span>上传留言并确认拒绝</span></button>
      </div>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleOkShowInfo()">退出</button>
    </div>
  </nz-modal>

  <!-- 查看留言的对话框 -->
  <nz-modal [nzStyle]="{ width: '60%' }" [(nzVisible)]="isVisibleShowComment" nzTitle="查看学生历史留言"
    (nzOnOk)="handleOkShowComment()" (nzOnCancel)="handleOkShowComment()" [nzOkLoading]="isOkLoadingShowComment">
    <ng-container *nzModalContent>
      <nz-table #currenCommentInTable [nzPageSize]="5" [nzData]='commentList!'>
        <thead>
          <tr>
            <th>留言内容</th>
            <th>留言时间</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of currenCommentInTable.data">
            <td>{{ data.comment }}</td>
            <td>{{ formatDateTime(data.date) }} </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleOkShowComment()">退出</button>
    </div>
  </nz-modal>

</div>
