<div class="ml-16 mt-10 ">
  <div class="h-64 w-120 float-left border-antd border-solid border-2 p-6 rounded-lg text-center">
    <div class="mt-5 mb-4">
      <span class="text-2xl">当前奖学金评审 : </span>
      <span class="text-3xl font-bold" nz-typography nzType='success'>{{'进行中'}}</span>
    </div>
    <button nz-button [nzType]="'primary'" class="mt-10 h-12 w-48">
      <a href='/assets/中山大学计算机学院2021年优秀大学生奖学金加分细则.pdf' target='_blank'>查看/下载当前加分细则</a>
    </button>
  </div>


  <div class="h-64 w-120 float-left ml-36 border-antd border-solid border-2 p-6 rounded-lg text-center">
    <h3 nz-typography class="mt-5">评审端功能导航</h3>
    <!-- <button nz-button class="mb-4 mt-2" [nzSize]='"large"' nzType="default" routerLink="../personal"
      routerLinkActive="active">个人信息</button>
    <br> -->
    <button nz-button class="mt-10" [nzSize]='"large"' nzType="default" routerLink="../member"
      routerLinkActive="active">学生列表</button>
  </div>
