<div class="ml-8">

  <button class="mt-2  h-10 w-60" nz-button [nzType]="'primary'"
    (click)="showModalPass()"><span>按照班级批量通过学生奖学金申请</span></button>

  <!-- 展示当前用户表格 -->
  <h4 nz-typography class="mt-4">当前学生</h4>
  <nz-table #currentUserInTable [nzPageSize]="10" nzShowQuickJumper [nzData]='currentDisplayUserList!'>
    <thead>
      <tr>
        <th nzCustomFilter>学号
          <nz-filter-trigger [(nzVisible)]="visibleSearchSid" [nzActive]="searchSidValue.length > 0"
            [nzDropdownMenu]="searchSidMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>姓名
          <nz-filter-trigger [(nzVisible)]="visibleSearchName" [nzActive]="searchNameValue.length > 0"
            [nzDropdownMenu]="searchNameMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>班级
          <nz-filter-trigger [(nzVisible)]="visibleSearchClass" [nzActive]="searchClassValue.length > 0"
            [nzDropdownMenu]="searchClassMenu">
            <i nz-icon nzType="filter" nzTheme="twotone"></i>
          </nz-filter-trigger>
        </th>
        <th>状态</th>
        <th>自评分数</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of currentUserInTable.data">
        <td>{{ data.sid }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.class }}</td>
        <td>{{status[data.status]}}</td>
        <td>{{ data.score}}</td>
        <td>
          <a nz-button nzType="link" (click)="showModalStudent(data)">查看更多学生信息</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-button nzType="link" nz-popconfirm nzPopconfirmTitle="确定要删除学生 {{data.name}} 吗?"
            nzPopconfirmPlacement="bottom" (nzOnConfirm)="deleteConfirm(data)" (nzOnCancel)="Cancel()" nzOkText="确认删除"
            nzCancelText="取消">删除学生</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-button nzType="link" nz-popconfirm nzPopconfirmTitle="确定要单独评定学生 {{data.name}} 的奖学金申请吗?"
            nzPopconfirmPlacement="bottom" (nzOnConfirm)="validateConfirm(data)" (nzOnCancel)="Cancel()" nzOkText="确认"
            nzCancelText="取消">通过此学生奖学金</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <!-- 姓名的搜索的下拉框 -->
  <nz-dropdown-menu #searchNameMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按名字搜索" [(ngModel)]="searchNameValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchName()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetName()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- sid的搜索的下拉框 -->
  <nz-dropdown-menu #searchSidMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按账户搜索" [(ngModel)]="searchSidValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchSid()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetSid()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- 班级的搜索的下拉框 -->
  <nz-dropdown-menu #searchClassMenu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="p-2">
        <input class="w-44 mb-2 block" nz-input placeholder="按班级搜索" [(ngModel)]="searchClassValue" />
        <button class="w-20 mr-4" nz-button nzSize="small" nzType="primary" (click)="searchClass()">
          搜索
        </button>
        <button class="w-20" nz-button nzSize="small" (click)="resetClass()">重置</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <!-- 查看学生的对话框 -->
  <nz-modal [nzStyle]="{ width: '80%' }" [(nzVisible)]="isVisibleStudent" nzTitle="学生完整报名信息"
    (nzOnOk)="handleOkStudent()" (nzOnCancel)="handleOkStudent()" [nzOkLoading]="isOkLoadingStudent">
    <ng-container *nzModalContent>

      <nz-descriptions nzTitle="" nzBordered>
        <nz-descriptions-item nzTitle="学号">
          {{currentSelectedUser.sid}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="姓名">
          {{currentSelectedUser.name}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="班级">
          {{currentSelectedUser.class}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="自评分数" nzSpan="3">
          {{currentSelectedUser.score}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="自我介绍" nzSpan="3">
          {{currentSelectedUser.description}}
        </nz-descriptions-item>
      </nz-descriptions>

      <h4 nz-typography class="mt-4">学生上传辅助资料</h4>
      <nz-table #currentFileInTable [nzPageSize]="10" [nzData]='fileList!'>
        <thead>
          <tr>
            <th>文件名</th>
            <th>上传时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of currentFileInTable.data">
            <td>{{ data.filename }} </td>
            <td>{{ formatDateTime(data.date) }}</td>
            <td>
              <a nz-button nzType="link" (click)="getStudentFile(data)">下载此材料</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleOkStudent()">确定</button>
    </div>
  </nz-modal>

  <!-- passClass的对话框 -->
  <nz-modal [(nzVisible)]="isVisiblePass" nzTitle="按照班级批量通过学生初试申请" (nzOnCancel)="handleCancelPass()"
    (nzOnOk)="handleOkPass()" [nzOkLoading]="isOkLoadingPass">
    <ng-container *nzModalContent>
      确定审批通过以下班级的奖学金结果(一次一个班级)
      <br>
      <span>班级 ：<input nz-input [(ngModel)]="passClass" /></span>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancelPass()">取消</button>
      <button nz-button nzType="primary" (click)="handleOkPass()" [nzLoading]="isOkLoadingPass">确认提交</button>
    </div>
  </nz-modal>

</div>
